.container{
  display: flex;
  justify-content: space-between;
  width: 1280px;
  margin: 0 auto;
  padding-bottom: 60px;
}
.main-col-left{
  width: 830px;
}
.main-col-right{
  width: 420px;
}
.module-layout{
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #e3e5e8,0 1px 2px 0 rgba(0,0,0,.04);
  overflow: hidden;
}

.sc-news{
  margin-top: 16px;
  .group-header{
    padding: 18px 20px 17px;
    .tab-list{
      display: flex;
      .tab-item{
        &.dot{
          display: flex;
          align-items: center;
          &::before{
            width: 3px;
            height: 3px;
            background: #f00;
            border-radius: 50%;
            margin: 0 8px;
            content: '';
          }
        }
        &.cate{
          position: relative;
          padding-left: 26px;
          &::before{
            content: "";
            position: absolute;
            top: 4px;
            left: 13px;
            width: 1px;
            height: 15px;
            background-color: #d3d5d7;
            transform: skewX(-15deg);
          }
        }
      }
      a{
        font-size: 1.6rem;
        line-height: 23px;
        font-weight: 800;
        color: rgba(8,8,8,.5);
        -webkit-font-smoothing: antialiased;
      }
    }
  }

  .group-issue{
    background-color: #f5f7f8;
    position: relative;
    display: flex;
    margin: 0 20px;
    padding: 12px 20px;
    border-radius: 4px;
    line-height: 26px;
    .issue-area{
      display: flex;
      flex: 1;
      .news-all{
        &::after{
          content: "";
          background-image: url(../images/sp-bg.png);
          background-size: 433px 412px;
          background-position: -154px -201px;
          background-repeat: no-repeat;
          width: 9px;
          height: 6px;
          display: inline-block;
          margin: 10px 0 0 5px;
          vertical-align: top;
        }
      }

      .media{
        position: relative;
        padding-left: 25px;
        &::before{
          content: "";
          display: block;
          position: absolute;
          top: 7px;
          left: 12px;
          background-color: #d3d5d7;
          width: 1px;
          height: 12px;
        }
        &::after{
          content: "";
          display: inline-block;
          width: 3px;
          height: 3px;
          background-color: #d3d5d7;
          margin: 12px 6px 0 6px;
          border-radius: 50%;
          vertical-align: top;
        }
      }
      .issue{
        flex: 1;
      }
    }
    .news-area{
      display: flex;
      .link_home{
        position: relative;
        padding-left: 25px;
        &:before{
          content: "";
          display: block;
          position: absolute;
          top: 7px;
          left: 12px;
          width: 1px;
          height: 12px;
          background-color: #d3d5d7;
        }
      }
    }
  }

  .group-media{
    margin: 18px 20px;
    border: 1px solid #ebebeb;
    overflow: hidden;
    position: relative;
    height: 224px;
    border-radius: 4px;

    .media-list{
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(4, 1fr);
      height: 100%;

    }
    .media-item{
      .link{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        img{
          height: 20px;
        }
      }
    }

    .vt-line{
      position: absolute;
      top: 0;
      width: 1px;
      height: 100%;
      background: #ebebeb;

      @for $i from 1 to 6 {
        &.vt#{$i}{ 
          left: 131px*$i;
        }
      }
      &.vt1{
        left: 131px;
      }
      &.vt2{}
      &.vt3{}
      &.vt4{}
      &.vt5{}
    }
    .hr-line{
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      background: #ebebeb;

      @for $i from 1 to 4 {
        &.hr#{$i}{ 
          top: 55px*$i;
        }
      }
    }
  }

  .group-control{
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 10px 0 11px;
    line-height: 34px;
    text-align: center;
    .btn-prev{
      width: 36px;
      height: 36px;
      border: 1px solid #dadcdf;
      background-color: #fff;
      position: relative;
      display: inline-block;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,.06);
      border-radius: 50%;
      vertical-align: top;
      cursor: pointer;
      &::before{
        transform: rotate(180deg);
        @extend .sp-bg1;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(../images/sp-bg.png);
        background-size: 433px 412px;
        background-position: -179px -400px;
        background-repeat: no-repeat;
        width: 10px;
        height: 12px;
        margin: auto;
      }
    }
    .btn-next{
      width: 36px;
      height: 36px;
      border: 1px solid #dadcdf;
      background-color: #fff;
      position: relative;
      display: inline-block;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,.06);
      border-radius: 50%;
      vertical-align: top;
      cursor: pointer;
      &::before{
        @extend .sp-bg1;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(../images/sp-bg.png);
        background-size: 433px 412px;
        background-position: -179px -400px;
        background-repeat: no-repeat;
        width: 10px;
        height: 12px;
        margin: auto;
      }
    }
    .control-area{
      color: #606060;
      display: inline-block;
      min-width: 143px;
      padding: 0 16px;
      box-sizing: border-box;
      font-size: 1.3rem;
      line-height: 35px;
      font-weight: 600;
      vertical-align: top;
      .news{
        padding-right: 4px;
        .more{
          color: #3a67ea;
        }
        
      }
      .current{
        
      }
      .total{
        color: rgba(96,96,96,.5);
      }

    }
    .set-area{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      .btn-list{
        position: relative;
        padding: 18px 9px 18px 20px;
        &::before{
          @extend .sp-bg1;
          display: block;
          content: '';
          background-image: url(../images/sp-bg.png);
          background-size: 433px 412px;
          background-position: -118px -69px;
          background-repeat: no-repeat;
          width: 20px;
          height: 20px;
        }
      }
      .btn-thumb{
        position: relative;
        padding: 18px 20px 18px 9px;
        &::before{
          @extend .sp-bg1;
          display: block;
          content: '';
          background-image: url(../images/sp-bg.png);
          background-size: 433px 412px;
          background-position: -388px -189px;        background-repeat: no-repeat;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
.sc-shopping{
  margin-top: 16px;
  .group-header{
    padding: 19px 20px 16px;
    .tab-list{
      display: flex;
      .tab-item{
        &.cate{
          position: relative;
          padding-left: 26px;
          &::before{
            content: "";
            position: absolute;
            top: 4px;
            left: 13px;
            width: 1px;
            height: 15px;
            background-color: #d3d5d7;
            transform: skewX(-15deg);
          }
        }
      }
      a{
        font-size: 1.6rem;
        line-height: 23px;
        font-weight: 800;
        color: rgba(8,8,8,.5);
        -webkit-font-smoothing: antialiased;
      }
    }
  }
  .group-reward{
    display: flex;
    margin: 0 20px;
    .area-left{
      background-color: #f5f7f8;
      display: flex;
      width: 668px;
      padding: 15px 20px 14px;
      border-radius: 4px;
      box-sizing: border-box;
      line-height: 21px;
      font-weight: 700;
      .today-title{
        flex: none;
        position: relative;
        padding-right: 19px;
        font-weight: 700;
      }
      a{
        flex: 1 1;
        display: flex;
        min-width: 0;
        .today-image{
          display: inline-block;
          height: 13px;
          padding-top: 4px;
          line-height: 13px;
          vertical-align: top;
          img{

          }
        }
      }
      .today-desc{
        margin-left: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #404040;
        font-weight: 500;
        .today-desc-color{
          color: #9858f5;
        }
      }
    }
    .area-right{
      margin-left: auto;
      padding: 10px 0;
      .today-page{
        color: #606060;
        display: inline-block;
        margin: 6px 9px 8px 0;
        font-size: 1.3rem;
        line-height: 16px;
        font-weight: 600;
        vertical-align: top;
        .page-current{

        }
        .page-total{
          color: rgba(113,113,113,.6);
        }
      }
      .btn{
        width: 30px;
        height: 30px;
        position: relative;
        display: inline-block;
        border: 1px solid rgba(211,213,215,.8);
        vertical-align: top;
        cursor: pointer;
        &.prev{
          border-radius: 4px 0 0 4px;
          &::before{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 5px;
            height: 5px;
            transform: translate(-50%,-50%) rotate(45deg);
            margin-left: 2px;
            border-left: 2px solid #80868c;
            border-bottom: 2px solid #80868c;
            margin-left: 1px;
          }
        }
        &.next{
          border-radius: 0 4px 4px 0;
          &::before{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 5px;
            height: 5px;
            transform: translate(-50%,-50%) rotate(45deg);
            margin-left: -2px;
            border-top: 2px solid #80868c;
            border-right: 2px solid #80868c;
            margin-left: -1px;
          }
        }
      }
    }
  }
  .group-picture{
    display: flex;
    gap: 20px;
    height: 394px;
    padding: 18px 20px 1px;
    .product-column{
      position: relative;
      width: 522px;
      margin-right: 20px;
      .five-column-list{
       display: flex;
        .five-column-item{
          margin-bottom: 14px;
          & + li{
            margin-left: 8px;
            
          }
          img{
            margin-bottom: 8px;
            border: 1px solid rgba(0,0,0,.06);
            border-radius: 4px;
            background-color: rgba(0,0,0,.03);
            transform: translateZ(0);
            perspective: 1px;
          }
          p{
            overflow: hidden;
            font-size: 1.3rem;
            line-height: 19px;
            letter-spacing: -.4px;
            white-space: nowrap;
          }
          .image-frame{
            
          }
        }

      }
    }
    .col-right{
      flex: 1;
      min-width: 0;
      .top{
        position: relative;
        padding: 9px 11px 4px;
        border-radius: 4px;
        background: rgba(245,248,251,.6);
        &::before{
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border: 1px solid rgba(0,0,0,.05);
          border-radius: inherit;
        }
        .mall-area{
          position: relative;
          display: flex;
          justify-content: space-between;
          padding-bottom: 5px;
          a{
            color: #404040;
            font-size: 13px;
            line-height: 20px;
            letter-spacing: -.6px;
          }
          span{
            margin: 9px 0 0;
            width: 3px;
            height: 3px;
            background-color: #d3d5d7;
            display: inline-block;
            border-radius: 50%;
            vertical-align: top;
          }
        }
      }
      .mid{
        position: relative;
        margin-top: 12px;
        padding: 9px;
        border-radius: 4px;
        background: rgba(245,248,251,.6);
        &::before{
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border: 1px solid rgba(0,0,0,.05);
          border-radius: inherit;
        }
        .quickmenu-list{
          position: relative;
          display: flex;
          .quickmenu-item{
            flex: 1;
            a{
              display: block;
              text-align: center;
            }
            .quicklink-home{
              width: 32px;
              height: 32px;
              position: relative;
              display: inline-block;
              border-radius: 50%;
              background-color: #fff;
              line-height: 32px;
              text-align: center;
              vertical-align: top;
              border: 1px solid rgba(238,242,248,.8);
              &:before{
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                background-image: url(../images/sp-bg3.png);
                background-position: -34px 0;
                width: 32px;
                height: 32px;
                background-size: 158px 137px;
                background-repeat: no-repeat;
                transform: translate(-50%,-50%);
              }
            }
            .quicklink-review{
              width: 32px;
              height: 32px;
              position: relative;
              display: inline-block;
              border-radius: 50%;
              background-color: #fff;
              line-height: 32px;
              text-align: center;
              vertical-align: top;
              border: 1px solid rgba(238,242,248,.8);
              &:before{
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                background-image: url(../images/sp-bg3.png);
                background-position: -68px -34px;
                width: 32px;
                height: 32px;
                background-size: 158px 137px;
                background-repeat: no-repeat;
                transform: translate(-50%,-50%);
              }
            }
            .quicklink-order{
              width: 32px;
              height: 32px;
              position: relative;
              display: inline-block;
              border-radius: 50%;
              background-color: #fff;
              line-height: 32px;
              text-align: center;
              vertical-align: top;
              border: 1px solid rgba(238,242,248,.8);
              &:before{
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                background-image: url(../images/sp-bg3.png);
                background-position: -34px -34px;
                width: 32px;
                height: 32px;
                background-size: 158px 137px;
                background-repeat: no-repeat;
                transform: translate(-50%,-50%);
              }
            }
            .quicklink-basket{
              width: 32px;
              height: 32px;
              position: relative;
              display: inline-block;
              border-radius: 50%;
              background-color: #fff;
              line-height: 32px;
              text-align: center;
              vertical-align: top;
              border: 1px solid rgba(238,242,248,.8);
              &:before{
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                background-image: url(../images/sp-bg3.png);
                background-position: -19px -121px;
                width: 17px;
                height: 16px;
                background-size: 158px 137px;
                background-repeat: no-repeat;
                transform: translate(-50%,-50%);
              }
            }

            
            .quicklink-text{
              color: #404040;
              margin-top: 2px;
              font-size: 13px;
              line-height: 20px;
            }
          }
          
        }
      }
      .bot{
        margin-top: 12px;
      }
    }
  }
  .group-control{
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 10px 0 11px;
    line-height: 34px;
    text-align: center;

      .btn-prev{
        width: 36px;
        height: 36px;
        border: 1px solid #dadcdf;
        background-color: #fff;
        position: relative;
        display: inline-block;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.06);
        border-radius: 50%;
        vertical-align: top;
        cursor: pointer;
        &:before{
          background-image: url(../images/sp-bg3.png);
          background-size: 158px 137px;
          background-repeat: no-repeat;
          width: 10px;
          height: 12px;
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-position: -80px -121px;
          margin: auto;
          transform: rotate(180deg);
        }
      }
      .btn-next{
        width: 36px;
        height: 36px;
        border: 1px solid #dadcdf;
        background-color: #fff;
        position: relative;
        display: inline-block;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.06);
        border-radius: 50%;
        vertical-align: top;
        cursor: pointer;
        &:before{
          background-image: url(../images/sp-bg3.png);
          background-size: 158px 137px;
          background-position: -68px -121px;
          background-repeat: no-repeat;
          width: 10px;
          height: 12px;
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-position: -80px -121px;
          margin: auto;
        }
      }
      .fraction {

        color: #606060;
        display: inline-block;
        min-width: 176px;
        padding: 0 16px;
        box-sizing: border-box;
        font-size: 1.3rem;
        line-height: 35px;
        font-weight: 600;
        vertical-align: top;
        .page-text{
          padding-right: 4px;
          .page-point{
            color: #9858f5;
          }
        }
        .total{
          color: rgba(96,96,96,.5);
        }
      }
    
  }
}
.sc-recommend{
  margin-top: 16px;
  .group-header{
    padding: 19px 20px 16px;
    .tab-list{
      display: flex;
      margin-bottom: 10px;
      .tab-item{
        &.cate{
          position: relative;
          padding-left: 26px;
          &::before{
            content: "";
            position: absolute;
            top: 4px;
            left: 13px;
            width: 1px;
            height: 15px;
            background-color: #d3d5d7;
            transform: skewX(-15deg);
          }
        }
      }
      a{
        font-size: 1.6rem;
        line-height: 23px;
        font-weight: 800;
        color: rgba(8,8,8,.5);
        -webkit-font-smoothing: antialiased;
      }
    }
  }
  .group-btn{
    background-color: #f5f7f8;
    position: relative;
    display: flex;
    margin: 0 20px;
    padding: 12px 20px;
    border-radius: 4px;
    line-height: 26px;
    .btn-area{
      display: flex;
      justify-content: space-between;
      flex: 1;
      .left{
        display: flex;
        gap: 2px;
        button{
          border: 1px solid #ebebeb;
          color: #404040;
          display: block;
          padding: 0 12px;
          border-radius: 18px;
          background-color: #fff;
          line-height: 34px;
          text-align: center;
        }
      }
      .right{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .issue{
        flex: 1;
        background: #c00;
      }
    }
    .news-area{
      display: flex;
    }
  }
  .group-picture{
    margin-top: 18px;
    padding: 0 20px;
    .album-list{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 20px;
      margin-bottom: 30px;
      img{
        border-radius: 4px;
      }
      .album-subject{
        margin-top: 10px;
        display: block;
        display: -webkit-box;
        overflow: hidden;
        max-height: 40px;
        line-height: 20px;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-weight: 500;
      }
      .btn-name{
        display: flex;
        gap: 6px;
        margin-top: 4px;
        img{
          border-radius: 50%;
          width: 20px;
          aspect-ratio: auto 20 / 20;
          height: 20px;
        }
      }
    }
    .picture-enjoy{
      position: relative;
      border-top: 1px solid #ebebeb;
      .enjoy-title{
        strong{
          display: block;
          padding: 23px 0 15px;
          font-size: 1.5rem;
          line-height: 22px;
          font-weight: 800;
        }
      }
      .enjoy-album{
        .album-list{
          display: grid;
          grid-template-columns: repeat(6,1fr);
          grid-template-rows: repeat(1, 1fr);
          li{
            min-width: 0;
            a{
              display: block;
              .album-title{
                display: -webkit-box;
                overflow: hidden;
                max-height: 40px;
                line-height: 20px;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                margin-top: 10px;
                font-weight: 500;
              }
              .album-sub{
                overflow: hidden;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #606060;
                margin-top: 4px;
                font-size: 1.3rem;
                line-height: 20px;
              }
            }
          }
          
        }

            
      }
      .enjoy-btn{
        position: absolute;
        right: -12px;
        top: 120px;
        width: 36px;
        height: 36px;
        border: 1px solid #dadcdf;
        background-color: #fff;
        display: inline-block;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.06);
        border-radius: 50%;
        vertical-align: top;
        cursor: pointer;
        &:before{
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: url(../images/sp-bg3.png);
          background-size: 434px 416px;
          background-position: -201px -404px;
          background-repeat: no-repeat;
          width: 10px;
          height: 12px;
          margin: auto;
        }
      }
    }
  }
  .group-control{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ebebeb;
    position: relative;
    text-align: center;
    .btn-spread{
      color: #404040;
      display: block;
      width: 100%;
      font-size: 1.3rem;
      line-height: 56px;
      font-weight: 600;
      cursor: pointer;
      .ico-plus{
        width: 10px;
        height: 10px;
        position: relative;
        display: inline-block;
        margin: 23px 0 0 5px;
        vertical-align: top;
        &:before{
          content: "";
          display: block;
          position: absolute;
          background-color: #545454;
          background-color: #5290ff;
          left: 50%;
          top: 4px;
          bottom: 4px;
          width: 100%;
          transform: translateX(-50%);
        }
        &:after{
          top: 50%;
          left: 4px;
          right: 4px;
          height: 100%;
          transform: translateY(-50%);
          background-color: #5290ff;
          content: "";
          display: block;
          position: absolute;
          background-color: #545454;
        }
      }
      
    }
  }
  
}
.sc-login{
  margin-bottom: 16px;
  padding: 21px 20px 18px;
  line-height: 20px;
  text-align: center;

  .login-msg{
    
  }

  .link-login{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 13px;
    padding: 17px 0;
    border: 1px solid rgba(0,0,0,.06);
    border-radius: 4px;
    background-color: #03c75a;
    box-shadow: 0 2px 4px 0 rgba(3,199,90,.12);
    color: #fff;
    &::before{
      @extend .sp-bg1;
      width: 72px;
      height: 14px;
      background-position: -120px -166px;
      content:'';
    }
  }

  .login-more{
    display: flex;
    justify-content: center;
    color: #606060;
    margin-top: 16px;
    font-size: 1.3rem;
    a{
      &+a{
        padding-left: 25px;
      }
    }
  }
}
.sc-weather{
  margin-top: 16px;
  padding: 0 18px;
  .weather-header{
    display: flex;
    justify-content: 
    space-between;
    line-height: 40px;
    padding: 6px 0;
    .header-left{
      display: flex;
      h2{
        color: #080808;
        display: inline-block;
        padding-right: 7px;
        font-size: 1.5rem;
        font-weight: 800;
        vertical-align: top;
        margin-right: 7px;
      }
      .btn{
        border: 1px solid #ebebeb;
        background-color: #fff;
        color: #606060;
        display: inline-block;
        min-width: 75px;
        height: 26px;
        margin-top: 7px;
        padding: 0 10px 0 7px;
        border-radius: 15px;
        font-size: 1.1rem;
        line-height: 25px;
        vertical-align: top;
        text-decoration: none;
        text-align: center;
        &:before{
          content: "";
          display: inline-block;
          background-image: url(../images/sp-bg.png);
          background-size: 434px 416px;
          background-position: -144px -404px;
          background-repeat: no-repeat;
          width: 12px;
          height: 12px;
          margin: 6px 2px 0 0;
          vertical-align: top;
        }
      }
    }
  }
  .weather-content{
    display: flex;
    border-top: 1px solid #ebebeb;
    .left{
      margin: 20px 0 18px;
      .top{
        display: flex;
        .weather-image{
          &::before{
            content: "";
            display: block;
            background-image: url(../images/sp-bg2.png);
            background-size: 641px 587px;
            background-position: -87px 0px;
            background-repeat: no-repeat;
            width: 86px;
            height: 86px;
          }
        }
        .top-right{
          display: flex;
          flex-direction: column;
          .temp-num{
            min-width: 0;
            font-size: 3.9rem;
            line-height: 48px;
            letter-spacing: -2px;
          }
          .temp-text{
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-left: 5px;
            font-size: 1.4rem;
            line-height: 20px;
            font-weight: bold;
            letter-spacing: -0.3px;
          }
        }
      }
      .mid{
        text-align: center;
        .temp-min{
          color: #3172e7;
          
          .temp-max{
            color: #cd3534;
            &:before{
              content: "";
              display: block;
              content: "";
              display: inline-block;
              width: 1px;
              height: 11px;
              background-color: #d3d5d7;
              margin: 0 5px 0 3px;
              transform: skewX(-15deg);
              vertical-align: -1px;
            }
          }
        }
      }
      .bot{
        margin-top: 6px;
        display: flex;
        justify-content: center;
        font-size: 1.3rem;
        vertical-align: top;
        .weather-condition{

        }
        .good-left{
          color: #32a1ff;
          &:after{
            content: "";
            display: inline-block;
            width: 3px;
            height: 3px;
            background-color: #d3d5d7;
            margin: 8px 6px 0;
            border-radius: 50%;
            vertical-align: top;
          }
        }
        .good-right{
          color: #32a1ff;
          
        }
      }
    }
  }
}
.sc-stock{
  margin-top: 16px;
  padding: 0 18px;
  .stock-header{
    position: relative;
    display: flex;
    padding: 6px 0;
    line-height: 40px;
    .header-left{
      color: #080808;
      color: var(--color_title);
      display: inline-block;
      padding-right: 7px;
      font-size: 1.5rem;
      font-weight: 800;
      vertical-align: top;
    }
    .btn-info{
      width: 20px;
      height: 20px;
      position: relative;
      margin: 10px 0 0 -4px;
      &:before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(../images/sp-bg.png);
        background-size: 434px 416px;
        background-position: -410px -58px;
        background-repeat: no-repeat;
        width: 14px;
        height: 14px;
        margin: auto;
      }
    }
    .right {
      display: flex;
      align-items: center;
      color: #606060;
      flex: none;
      margin-left: auto;
      font-size: 1.3rem;
      .right-text{
        display: flex;
        align-items: center;
        .btn-refresh{
          margin-left: 5px;
          &::after{
            content: "";
            display: block;
            background-image: url(../images/sp-bg.png);
            background-size: 434px 416px;
            background-position: -99px -361px;
            background-repeat: no-repeat;
            width: 16px;
            height: 16px;
          }
        }
      }
      
    }
    
    
    
  }
  .stock-content{
    display: flex;
    gap: 25px;
    border-top: 1px solid #ebebeb;
    .left{
      flex: 1;
      margin: 9px 0 14px;
      .top{
        padding: 6px 0 9px;
        span{
          font-size: 15px;
        }
      }
      .mid{
        span{
          font-size: 24px;
        }
      }
      .bot{
        span{
          color: #2196f3;
          font-size: 14px;
        }
      }
    }
    .right{
      flex: 1;
      margin: 9px 0 14px;
      .stock-list{
        li{
          border-bottom: 1px solid #ebebeb;
          a{

            .stock-price{
              display: flex;
              .stock-icon{
                background-image: url(../images/sp-bg.png);
                background-size: 451px 441px;
                background-position: -171px -215px;
                background-repeat: no-repeat;
                width: 9px;
                height: 6px;
                margin: 8px 4px 0 0;
                background-color: rgba(0, 0, 0, 0);
              }
            }
          }

        }
        li+li{
          margin-top: 2px;
          
        }
        a{
          display: flex;
          justify-content: space-between;
          padding: 6px 0 9px;
        }
      }

    }
  }
}
.sc-widget{
  margin-top: 16px;
  background: #f4f6fa;
  .widget-inner{
    padding: 15px 18px 20px;
    .widget-header{
      color: #080808;
      position: relative;
      padding-bottom: 1px;
      font-size: 1.5rem;
      line-height: 24px;
      font-weight: 800;
    }
    .widget-content{
      margin-top: 10px;
      .content-list{
        display: grid;
        gap: 12px;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 192px);
        

        li:nth-child(1){
          padding: 9px 7px;
          background: #fff;
          border-radius: 8px;
        }
        li:nth-child(2),
        li:nth-child(3){
          background: #fff;
          border-radius: 8px;
        }
        
        .calendar{
          position: relative;
          .top{
            color: #080808;
            display: block;
            font-size: 1.5rem;
            line-height: 34px;
            font-weight: 800;
            padding-left: 18px;
          }
          .mid{
            height: 132px;
            padding-left: 11px;
            text-decoration: none;
            display: block;
            margin: 8px 0 0 -1px;
            font-size: 3.9rem;
            line-height: 36px;
            letter-spacing: -2px;
            text-decoration: none;
            .wednes{
              display: inline-block;
              margin: 16px 0 0 0;
              font-size: 1.3rem;
              line-height: 20px;
              vertical-align: top;
            }
          }
          .bot{
            position: absolute;
            bottom: 20px;
            left: 18px;
            color: #606060;
            text-decoration: underline;
          }
        }
        .memo{
          position: relative;
          &:after{
            content: "";
            display: block;
            position: absolute;
            right: 0;
            top: 45px;
            left: -2px;
            height: 1px;
            background-image: -webkit-gradient(linear, left top, right top, color-stop(70%, rgba(255, 255, 255, 0.4)), color-stop(30%, transparent));
            background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.4) 70%, transparent 30%);
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4) 70%, transparent 30%);
            background-size: 6px 1px;
          }
          .top{
            position: relative;
            display: flex;
            padding: 7px 9px;
            border-radius: 8px 8px 0 0;
            background-image: -webkit-gradient(linear, left bottom, left top, from(#00b869), to(#00c772));
            background-image: -o-linear-gradient(bottom, #00b869, #00c772);
            background-image: linear-gradient(to top, #00b869, #00c772);
            line-height: 34px;
            -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
            padding-left: 10px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            font-size: 1.5rem;
            font-weight: 800;
            color: #fff;
          }
          .div1,
          .div2{
            height: 46px;
            padding: 0 18px;
            line-height: 46px;
            border-top: 1px solid #ebebeb;
          }
          .bot{
            border-top: 1px solid #ebebeb;
            height: 46px;
            padding: 0 18px;
            line-height: 46px;
            color: #606060;
            display: block;
            line-height: 43px;
            text-decoration: underline;
          }
        }
        .papago{
          width: 192px;
          height: 192px;
          a{
            position: relative;
            &::before{
              content: "";
              display: block;
              position: absolute;
              top: 54px;
              left: 54px;
              background-image: url(../images/sp-bg.png);
              background-size: 434px 416px;
              background-position: 0px 0px;
              background-repeat: no-repeat;
              width: 78px;
              height: 68px;
            }
            .papago-inner{
              height: 100%;
              width: 100%;
            }
            .bot{
              display: flex;
              height: 100%;
              padding: 18px 18px 12px 18px;
              box-sizing: border-box;
              flex-direction: column;
              justify-content: space-between;
              i{
                &::before{
                  content: '';
                  position: absolute;
                  background-image: url(../images/sp-bg.png);
                  background-size: 434px 416px;
                  background-position: -164px -183px;
                  background-repeat: no-repeat;
                  width: 76px;
                  height: 19px;
                }
              }
              .papago-btn{
                position: relative;
                margin: 0 13px;
                border-radius: 20px;
                background-color: #00a2ff;
                -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.04);
                box-shadow: 0 1px 2px 0 rgba(0,0,0,.04);
                font-size: 1.3rem;
                line-height: 40px;
                font-weight: bold;
                text-align: center;
                color: #fff;
                &:before{
                  content: "";
                  display: block;
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  border: 1px solid rgba(0,0,0,.02);
                  border-radius: 20px;
                }
              }
            }
              
            
          }
        }
        .dictionary{
          background-color: #fff;
          width: 192px;
          height: 192px;
          border-radius: 8px;
          .dic-box{
            position: relative;
            height: 100%;
            &:before{
              content: "";
              display: block;
              position: absolute;
              top: 0;
              right: 4px;
              bottom: 0;
              width: 14px;
              border-radius: 0 8px 8px 0;
              box-shadow: 0 0 0 1px #ebebeb,1px 0 2px 0 rgba(0,0,0,.04);
            }
            .dic-box-info{
              background-color: #fff;
              position: relative;
              height: 100%;
              margin-right: 8px;
              border-radius: 8px;
              box-shadow: 0 0 0 1px #ebebeb,1px 0 2px 0 rgba(0,0,0,.04);
              .info-text{
                color: #080808;
                display: block;
                padding: 16px 18px 19px;
                font-size: 1.5rem;
                line-height: 20px;
                font-weight: 800;
              }
              .info-today{
                position: relative;
                display: block;
                height: 106px;
                text-decoration: none;
                &:before{
                  content: "";
                  display: block;
                  position: absolute;
                  top: -1px;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  border-top: 1px solid #e8effb;
                  background: -o-radial-gradient(bottom, circle, #e8effb 1px, transparent 0) top/1px 21px;
                  background: radial-gradient(circle at bottom, #e8effb 1px, transparent 0) top/1px 21px;
                }
                .today-expression{
                  position: absolute;
                  top: 0;
                  right: 0;
                  left: 0;
                  margin: 0 18px;
                  .expression-text{
                    display: block;
                    display: -webkit-box;
                    overflow: hidden;
                    max-height: 105px;
                    line-height: 21px;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 5;
                    -webkit-box-orient: vertical;
                    position: relative;
                    font-size: 1.7rem;
                    font-weight: bold;
                    word-wrap: break-word;
                    letter-spacing: -0.2px;
                  }
                }
              }
            }
            .link-search{
              position: absolute;
              right: 14px;
              bottom: 12px;
              width: 38px;
              height: 38px;
              border: 1px solid #dadcdf;
              background-color: #fff;
              border-radius: 50%;
              -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.06);
              box-shadow: 0 1px 2px 0 rgba(0,0,0,.06);
              text-decoration: none;
              .search-text{
                &:after{
                  content: "";
                  display: block;
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  background-image: url(../images/sp-bg.png);
                  background-size: 434px 416px;
                  background-position: -364px -75px;
                  background-repeat: no-repeat;
                  width: 24px;
                  height: 24px;
                  margin: auto;
                }
              }
            }
          }


        }
      }
      .vibe-content{
        margin-top: 12px;
        background: #fff;
        border-radius: 8px;
        height: 278px;
        .top{
          display: flex;
          padding: 15px 18px 0;
          i{
            background-image: url(../images/sp-bg.png);
            background-size: 433px 412px;
            background-position: -69px -254px;
            background-repeat: no-repeat;
            width: 68px;
            height: 18px;
            -webkit-box-flex: 0;
            -ms-flex: none;
            flex: none;
            margin: 2px 8px 0 0;
          }
          .vibe-title{
            color: #080808;
            font-size: 1.5rem;
            line-height: 22px;
            font-weight: 800;
          }
        }
        .info{
          display: -webkit-box;
          display: -ms-flexbox;
          height: 210px;
          .vibe-list{
            display: grid;
            gap: 12px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(1, 1fr);
            height: 210px;
            margin: 13px 0 18px 18px;
            .vibe-item{
              position: relative;

              width: 108px;
              -ms-flex-negative: 0;
              flex-shrink: 0;
              img{
                border-radius: 4px;
              }
              .play-btn{
                position: absolute;
                right: 8px;
                bottom: 55px;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                background-color: rgba(0,0,0,.5);
                &:before{
                  content: "";
                  display: block;
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  background-image: url(../images/sp-bg.png);
                  background-size: 434px 416px;
                  background-position: -425px -131px;
                  background-repeat: no-repeat;
                  width: 7px;
                  height: 10px;
                  margin: auto;
                }
              }
              p {
                margin-top: 8px;
              }
              .vibe-title{
                display: block;
                display: -webkit-box;
                overflow: hidden;
                max-height: 40px;
                line-height: 20px;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                margin-top: 8px;
              }
            }
          }
        }
        
      }
    }
    .link-more{
      position: relative;
      display: block;
      margin-bottom: -15px;
      padding: 21px 0 17px;
      line-height: 25px;
      .more-text{
        display: inline-block;
        vertical-align: top;
        &:before{
          content: "";
          display: inline-block;
          background-image: url(../images/sp-bg.png);
          background-size: 434px 416px;
          background-position: -50px -360px;
          background-repeat: no-repeat;
          width: 22px;
          height: 22px;
          margin: 2px 11px 0 3px;
          vertical-align: top;
          
        }
        .text-point{
          font-weight: bold;
        }
      }
      &:after{
        content: "";
        display: block;
        position: absolute;
        top: 28px;
        right: 4px;
        background-image: url(../images/sp-bg.png);
        background-size: 434px 416px;
        background-position: -425px -63px;
        background-repeat: no-repeat;
        width: 8px;
        height: 12px;
      }
    }
  }
  
}
.new-naver{
  margin-top: 16px;
  background-color: #fff;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #e3e5e8,0 1px 2px 0 rgba(0,0,0,.04);
  box-sizing: border-box;
  .banner-box{
    position: relative;
    padding: 8px 50px 8px 18px;
    .banner-rolling{
      color: #404040;
      display: flex;
      align-items: center;
      width: 352px;
      padding: 11px 0;
      line-height: 20px;
      .rolling-img{
        width: 42px;
        height: 42px;
        display: inline-block;
        margin-right: 12px;
        vertical-align: top;
      }
      .rolling-content{
        .content-title{
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: #101010;
          color: var(--color_body);
          font-weight: bold;
        }
        .content-desc{
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: #606060;
          color: var(--color_caption2);
          margin-top: 2px;
          line-height: 20px;
        }
      }
    }
    .banner-pagi{
      position: absolute;
      top: 50%;
      right: 18px;
      height: 6px;
      margin-top: -3px;
      .pagi-dot{
        background-color: #03c75a;
        width: 6px;
        height: 6px;
        display: inline-block;
        border-radius: 50%;
        background-color: rgba(128,134,140,.3);
        vertical-align: top;
        color: rgba(0,0,0,0);
      }
    }
  }
}
.footer{
  border-top: 1px solid #ebebeb;
  background-color: #f5f6f7;
  .footer-inner{
    width: 1280px;
    margin: 0 auto;
    padding-bottom: 78px;
    font-size: 1.3rem;
    .footer-top{
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ebebeb;
      overflow: hidden;
      padding: 30px 0;
      .frame{
        display: flex;

        img{
          overflow: hidden;
          position: relative;
          width: 160px;
          height: 100px;
          border-radius: 6px;
          isolation: isolate;
        }
        .frame-desc{
          margin: 5px 3px 0 18px;
          .desc-tag{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            align-items: center;
            height: 20px;
            max-width: 141px;
            padding: 0 6px;
            border-radius: 4px;
            font-size: 13px;
            line-height: 20px;
            letter-spacing: -0.25px;
            color: #fff;
            background-color: #a0adb2;
            vertical-align: top;
          }
          .desc-title{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
            margin-top: 10px;
            font-size: 14px;
            line-height: 1.143;
            letter-spacing: -0.25px;
            color: #222122;
            font-weight: bold;
          }
          .desc-desc{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px;
            line-height: 1.43;
            letter-spacing: -0.25px;
            color: #545454;
            margin-top: 6px;
          }
        }
      }
      
    }
    .footer-notice{
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ebebeb;
      overflow: hidden;
      padding: 21px 0;
      line-height: 17px;
      font-size: 18px;
      .right{
        .right-text{
          &:after{
            content: "";
            display: inline-block;
            background-image: url(https://pm.pstatic.net/resources/asset/sp_main.2b26eb67.png);
            background-size: 434px 416px;
            background-position: -425px -37px;
            background-repeat: no-repeat;
            width: 8px;
            height: 12px;
            margin: 3px 0 0 10px;
            vertical-align: top;
          }
        }
      }
    }
    .footer-bot{
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ebebeb;
      overflow: hidden;
      .bot-left{
        padding: 20px 0;
        .partners{
          display: flex;
          line-height: 20px;
          .title{
            width: 87px;
            padding-right: 9px;
            display: block;
            font-weight: bold;
          }
        }
        .developers{
          display: flex;
          margin-top: 10px;
          line-height: 20px;
          .title{
            width: 87px;
            padding-right: 9px;
            display: block;
            font-weight: bold;
          }
        }
      }
      .bot-right{
        display: flex;
        padding: 21px 0;
        .whale-browser{
          display: flex;
          .whale-text{
            display: flex;
            gap: 5px;
            flex-direction: column;
            justify-content: center;
            padding-top: 5px;
            .title{
              font-weight: bold;
            }
          }
          .whale-img{
            margin-left: 11px;
            padding-top: 5px;
            img{
              vertical-align: top;
              width: 48px;
              aspect-ratio: auto 48 / 48;
              height: 48px;
            };
          }
        }
        .company-shortcut{
          display: flex;
          margin-left: 30px;
          .company-text{
            display: flex;
            gap: 5px;
            flex-direction: column;
            justify-content: center;
            padding-top: 5px;
            .title{
              font-weight: bold;
            }
          }
          .company-img{
            margin-left: 11px;
            padding-top: 5px;
            img{
              vertical-align: top;
              width: 48px;
              aspect-ratio: auto 48 / 48;
              height: 48px;
            }
          }
        }
      }
    }
    .footer-list{
      display: flex;
      justify-content: center;
      width: 1280px;
      margin: 0 auto;
      padding-top: 20px;
      line-height: 20px;
      text-align: center;
      .corp-list{
        overflow: hidden;
        display: inline-block;
        margin-right: 17px;
        vertical-align: top;
        .corp-item{
          color: #404040;
          display: inline-block;
          line-height: 20px;
          vertical-align: top;
        }
      }
    }
    .addr{
      font-weight: bold;
      a{
        display: inline-block;
        vertical-align: top;
        font-weight: bold;
      }
    }
  }
}